    <!-- Table User -->
    <div
      class="container-list d-flex flex-column justify-content-center align-items-center"
    >
      <% if (row.length == 0) { %>
      <h1 class="text-uppercase fs-3 fw-bold">data tidak ditemukan</h1>
      <% } else { %>
      <div class="container-table w-75 rounded-3">
        <table class="table">
          <thead class="sticky-top">
            <tr>
              <% column.forEach(columns => { %>
              <th class="text-center text-uppercase fw-bold"><%= columns %></th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
            <% row.forEach(rows => { %>
            <tr>
              <td class="text-center"><%= rows.id %></td>
              <td class="text-center"><%= rows.username %></td>
              <td class="text-center text-capitalize"><%= rows.role %></td>
              <td class="text-center"><%= rows['game id'] %></td>
              <td class="text-center text-capitalize"><%= rows['game name'] %></td>
              <td class="text-center text-capitalize"><%= rows.win %></td>
              <td class="text-center"><%= rows.lose %></td>
              <td class="text-center"><%= rows.draw %></td>
              <td class="text-center"><%= rows['total score'] %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
      <div class="btn-update mt-5">
        <a
          href="/dashboard/users/<%= req %>/account"
          class="btn btn-primary badge p-2 border-0 text-decoration-none text-uppercase"
          >update account</a
        >
        <a
          href="/dashboard/users/<%= req %>/biodata"
          class="btn btn-primary badge p-2 mx-2 border-0 text-decoration-none text-uppercase"
          >update biodata</a
        >
        <a
          href="/dashboard/games/create"
          class="btn btn-primary badge p-2 border-0 text-decoration-none text-uppercase"
          >add new games</a
        >
      </div>
    </div>
    <div
      class="container-form d-flex flex-column justify-content-center align-items-center"
    >
      <% row.forEach(rows => { %>
        <% if (typeof rows['game name'] != 'undefined') { %>
          <!-- Form Update Score -->
          <h1 class="text-uppercase fs-3 fw-bold mb-4">update score</h1>
          <form
            method="post"
            action="/dashboard/users/<%= req %>/score"
            autocomplete="off"
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <div class="form-field mb-3">
              <input
                type="text"
                class="form-control text-capitalize"
                name="game"
                id="game"
                placeholder="game"
                value="<%= rows['game name'] %>"
                readonly
              />
            </div>
            <div class="form-field mb-3">
              <input
                type="number"
                class="form-control text-capitalize"
                name="win"
                id="win"
                placeholder="win"
                min="0"
                required
              />
            </div>
            <div class="form-field mb-3">
              <input
                type="number"
                class="form-control text-capitalize"
                name="lose"
                id="lose"
                placeholder="lose"
                min="0"
                required
              />
            </div>
            <div class="form-field mb-3">
              <input
                type="number"
                class="form-control text-capitalize"
                name="draw"
                id="draw"
                placeholder="draw"
                min="0"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary border-0">Submit</button>
          </form>
        <% } else { %>
          <!-- Form Add Games -->
          <h1 class="text-uppercase fs-3 fw-bold mb-4">create history</h1>
          <form
            method="post"
            action="/dashboard/users/<%= req %>/score"
            autocomplete="off"
            class="d-flex flex-column justify-content-center align-items-center"
          >
          <label for="game_id" id="label-game" class="text-dark text-uppercase mb-1 mt-5 fw-bold">please select a game</label>
          <select class="form-select mb-3 text-white text-capitalize border-0" name="game_id" id="game_id" aria-label="Default select example">
            <% games.forEach(game => { %>
                <option value="<%= game.id %>"><%= game.id %> - <%= game.name %></option>
            <% }) %>
          </select> 
            <div class="form-field mb-3">
              <input
                type="number"
                class="form-control text-capitalize"
                name="win"
                id="win"
                placeholder="win"
                min="0"
                required
              />
            </div>
            <div class="form-field mb-3">
              <input
                type="number"
                class="form-control text-capitalize"
                name="lose"
                id="lose"
                placeholder="lose"
                min="0"
                required
              />
            </div>
            <div class="form-field mb-3">
              <input
                type="number"
                class="form-control text-capitalize"
                name="draw"
                id="draw"
                placeholder="draw"
                min="0"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary border-0">Submit</button>
          </form>
        <% } %>
      <% }) %>
    </div>