    <!-- Table Games -->
    <div
      class="container-list d-flex flex-column justify-content-center align-items-center"
    >
      <div class="container-table w-75 rounded-3">
        <table class="table">
          <thead class="sticky-top">
            <tr>
              <% column.forEach(columns => { %>
              <th class="text-center text-uppercase fw-bold"><%= columns %></th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
            <% row.forEach(rows => { %>
            <tr>
              <td class="text-center"><%= rows.id %></td>
              <td class="text-center text-capitalize"><%= rows.name %></td>
              <td class="text-center text-capitalize"><%= rows.genre %></td>
              <td class="text-center text-capitalize"><%= rows['max player'] %></td>
              <td class="text-center text-capitalize"><%= rows['win score'] %></td>
              <td class="text-center text-capitalize"><%= rows['lose score'] %></td>
              <td class="text-center text-capitalize"><%= rows['draw score'] %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Option Delete -->
    <h1 class="text-uppercase fw-bold text-center fs-3">
      yakin ingin menghapus game ini ?
    </h1>
    <form action="/dashboard/games/<%= req %>/delete" method="post" class="d-flex justify-content-center mt-5 gap-4">
      <input type="hidden" />
      <a href="/dashboard/games"
        ><button
          type="submit"
          class="btn btn-danger text-white text-uppercase px-4"
        >
          ya
        </button></a
      >
      <a href="/dashboard/games"
        ><button
          type="button"
          class="btn btn-dark text-white text-uppercase"
        >
          tidak
        </button></a
      >
    </form>