    <!-- Table Games -->
    <div
      class="container-list d-flex flex-column justify-content-center align-items-center"
    >
      <% if (row.length == 0) { %>
      <h1 class="text-uppercase fs-3 fw-bold">games tidak ditemukan</h1>
      <% } else { %>
      <h1 class="text-uppercase fs-3 fw-bold mb-4">list game</h1>
      <div class="container-table w-75 rounded-3">
        <table class="table">
          <thead class="sticky-top">
            <tr>
              <% column.forEach(columns => { %>
              <th class="text-center text-uppercase fw-bold"><%= columns %></th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
            <% row.forEach(rows => { %>
            <tr>
              <td class="text-center"><%= rows.id %></td>
              <td class="text-center text-capitalize"><%= rows.name %></td>
              <td class="text-center text-capitalize"><%= rows.genre %></td>
              <td class="text-center text-capitalize"><%= rows['max player'] %></td>
              <td class="text-center text-capitalize"><%= rows['win score'] %></td>
              <td class="text-center text-capitalize"><%= rows['lose score'] %></td>
              <td class="text-center text-capitalize position-relative">
                <%= rows['draw score'] %>
                <a
                    href="/dashboard/games/<%= rows.id %>/update"
                    class="icon-update text-dark text-decoration-none fas fa-edit position-absolute"
                  ></a
                >
                <a
                    href="/dashboard/games/<%= rows.id %>/delete"
                    class="icon-delete text-danger text-decoration-none fas fa-trash-can position-absolute"
                  ></a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
      <div class="mt-5">
        <a
          href="/dashboard/games/create"
          class="btn btn-primary badge text-uppercase border-0 p-2"
          ><span class="fas fa-user-plus pe-2"></span>create new games</a
        >
      </div>
    </div>