    <!-- Table Of Users -->
    <div
      class="container-list d-flex flex-column justify-content-center align-items-center"
    >
      <div class="container-table w-75 rounded-3">
        <table class="table">
          <thead class="sticky-top">
            <tr>
              <% column.forEach(columns => { %>
              <th class="text-center text-uppercase fw-bold"><%= columns %></th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
            <% row.forEach(rows => { %>
            <tr>
              <td class="text-center"><%= rows.id %></td>
              <td class="text-center text-capitalize"><%= rows.name %></td>
              <td class="text-center text-capitalize"><%= rows.genre %></td>
              <td class="text-center text-capitalize"><%= rows['max player'] %></td>
              <td class="text-center text-capitalize"><%= rows['win score'] %></td>
              <td class="text-center text-capitalize"><%= rows['lose score'] %></td>
              <td class="text-center text-capitalize"><%= rows['draw score'] %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Form Update Games -->
    <div
      class="container-form d-flex flex-column justify-content-center align-items-center"
    >
      <h1 class="text-uppercase fs-3 fw-bold mb-4">Update Game</h1>
      <form
        method="post"
        action="/dashboard/games/<%= req %>/update"
        autocomplete="off"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <div class="form-field mb-3">
          <input
            type="text"
            class="form-control text-capitalize"
            name="name"
            id="name"
            <% row.forEach(rows => { %>
              value="<%= rows.name %>"
            <% }) %>
            readonly
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="text"
            class="form-control text-capitalize"
            name="genre"
            id="genre"
            <% row.forEach(rows => { %>
              value="<%= rows.genre %>"
            <% }) %>
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="number"
            class="form-control text-capitalize"
            name="max_player"
            id="maxPlayer"
            <% row.forEach(rows => { %>
              value="<%= rows['max player'] %>"
            <% }) %>
            readonly
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="number"
            class="form-control text-capitalize"
            name="win_score"
            id="winScore"
            placeholder="win score"
            min="0"
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="number"
            class="form-control text-capitalize"
            name="lose_score"
            id="loseScore"
            placeholder="lose score"
            min="0"
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="number"
            class="form-control text-capitalize"
            name="draw_score"
            id="drawScore"
            placeholder="draw score"
            min="0"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary border-0">Submit</button>
      </form>
    </div>