    <!-- Table User -->
    <div
      class="container-list d-flex flex-column justify-content-center align-items-center"
    >
      <% if (row.length == 0) { %>
      <h1 class="text-uppercase fs-3 fw-bold">data tidak ditemukan</h1>
      <% } else { %>
      <div class="container-table w-50 rounded-3">
        <table class="table">
          <thead class="sticky-top">
            <tr>
              <% column.forEach(columns => { %>
              <th class="text-center text-uppercase fw-bold"><%= columns %></th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
            <% row.forEach(rows => { %>
            <tr>
              <td class="text-center"><%= rows['user id'] %></td>
              <td class="text-center text-capitalize">
                <%= rows['first name'] %>
              </td>
              <td class="text-center text-capitalize"><%= rows['last name'] %></td>
              <td class="text-center text-capitalize"><%= rows.hobby %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
      <div class="mt-5">
        <a href="/dashboard/users/<%= req %>/account" class="btn btn-primary badge border-0 text-decoration-none text-uppercase p-2">update account</a>
        <a href="/dashboard/users/<%= req %>/score" class="btn btn-primary badge border-0 text-decoration-none text-uppercase p-2 mx-2">update score</a>
        <a href="/dashboard/games/create" class="btn btn-primary badge border-0 text-decoration-none text-uppercase p-2">add new games</a>
      </div>
    </div>
    <!-- Form Update Biodata -->
    <div
      class="container-form d-flex flex-column justify-content-center align-items-center"
    >
      <h1 class="text-uppercase fs-3 fw-bold mb-4">update biodata</h1>
      <form
        method="post"
        action="/dashboard/users/<%= req %>/biodata"
        autocomplete="off"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <div class="form-field mb-3">
          <input
            type="text"
            class="form-control text-capitalize"
            name="first_name"
            id="firstName"
            placeholder="first name"
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="text"
            class="form-control text-capitalize"
            name="last_name"
            id="lastName"
            placeholder="last name"
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="text"
            class="form-control text-capitalize"
            name="hobby"
            id="hobby"
            placeholder="hobby"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary border-0">Submit</button>
      </form>
    </div>