    <!-- Table User -->
    <div
      class="container-list d-flex flex-column justify-content-center align-items-center"
    >
      <% if (row.length == 0) { %>
      <h1 class="text-uppercase fs-3 fw-bold">data tidak ditemukan</h1>
      <% } else { %>
      <div class="container-table w-75 rounded-3">
        <table class="table">
          <thead class="sticky-top">
            <tr>
              <% column.forEach(columns => { %>
              <th class="text-center text-uppercase fw-bold"><%= columns %></th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
            <% row.forEach(rows => { %>
            <tr>
              <td class="text-center"><%= rows.id %></td>
              <td class="text-center"><%= rows.username %></td>
              <td class="text-center text-capitalize"><%= rows.role %></td>
              <td class="text-center text-capitalize">
                <%= rows['first name'] %>
              </td>
              <td class="text-center text-capitalize">
                <%= rows['last name'] %>
              </td>
              <td class="text-center text-capitalize"><%= rows.hobby %></td>
              <td class="text-center text-capitalize">
                <%= rows['game id'] %>
              </td>
              <td class="text-center text-capitalize">
                <%= rows['game name'] %>
              </td>
              <td class="text-center text-capitalize"><%= rows.win %></td>
              <td class="text-center text-capitalize"><%= rows.lose %></td>
              <td class="text-center text-capitalize"><%= rows.draw %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
    </div>
    <!-- Option Delete -->
    <h1 class="text-uppercase fw-bold text-center fs-3">
      yakin ingin menghapus data ini ?
    </h1>
    <form action="/dashboard/users/<%= req %>/delete" method="post" class="d-flex justify-content-center mt-5 gap-4">
      <input type="hidden" />
      <a href="/dashboard/users"
        ><button
          type="submit"
          class="btn btn-danger text-white text-uppercase px-4"
        >
          ya
        </button></a
      >
      <a href="/dashboard/users"
        ><button
          type="button"
          class="btn btn-dark text-white text-uppercase"
        >
          tidak
        </button></a
      >
    </form>