    <!-- Table Users -->
    <div
      class="container-list d-flex flex-column justify-content-center align-items-center"
    >
      <% if (row.length == 0) { %>
      <h1 class="text-uppercase fs-3 fw-bold">data tidak ditemukan</h1>
      <% } else { %>
      <h1 class="text-uppercase fs-3 fw-bold mb-4">list user</h1>
      <div class="container-table rounded-3">
        <table class="table">
          <thead class="sticky-top">
            <tr>
              <% column.forEach(columns => { %>
              <th class="text-center text-uppercase fw-bold"><%= columns %></th>
              <% }) %>
              <th class="text-center text-uppercase fw-bold px-4"></th>
            </tr>
          </thead>
          <tbody>
            <% row.forEach(rows => { %>
            <tr>
              <td class="text-center"><%= rows.id %></td>
              <td class="text-center"><%= rows.username %></td>
              <td class="text-center text-capitalize"><%= rows.role %></td>
              <td class="text-center text-capitalize">
                <%= rows['first name'] %>
              </td>
              <td class="text-center text-capitalize">
                <%= rows['last name'] %>
              </td>
              <td class="text-center text-capitalize"><%= rows.hobby %></td>
              <td class="text-center text-capitalize">
                <%= rows['game id'] %>
              </td>
              <td class="text-center text-capitalize">
                <%= rows['game name'] %>
              </td>
              <td class="text-center text-capitalize"><%= rows.win %></td>
              <td class="text-center text-capitalize"><%= rows.lose %></td>
              <td class="text-center text-capitalize position-relative">
                <%= rows.draw %>
              </td>
              <td class="text-center text-capitalize position-relative">
                <%= rows['total score'] %>
              </td>
              <td class="text-center text-capitalize position-relative">
                <a
                  href="/dashboard/users/<%= rows.id %>"
                  class="icon-update text-dark text-decoration-none fas fa-edit position-absolute"
                ></a>
                <a
                  href="/dashboard/users/<%= rows.id %>/delete"
                  class="icon-delete text-danger text-decoration-none fas fa-trash-can position-absolute"
                ></a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
      <div class="mt-5">
        <a
          href="/dashboard/users/posts"
          class="btn btn-primary badge text-uppercase border-0 p-2"
          ><span class="fas fa-user-plus pe-2"></span>create new user</a
        >
      </div>
    </div>